body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

.top-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    z-index: 1;
}

.logo img {
    max-height: 60px;
}

.top-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-nav li {
    margin-left: 20px;
}

.top-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 20px;
}

/* Исправление списка */
.sidebar ul {
    list-style-type: none; /* Убираем кружочки */
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 20px 0;
    text-align: center;
    font-weight: bold; /* Сделаем текст жирным */
}

.sidebar a {
    text-decoration: none;
    color: white;
}

/* Плавная анимация */
.sidebar {
    width: 200px;
    position: fixed;
    left: -200px; /* Изначально скрыто */
    transition: left 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Прозрачность для плавного исчезновения */
    padding: 0; /* Убираем внутренние отступы */
}

#greenSidebar {
    background-color: #28a745;
    color: white;
    top: 110px;
    height: calc(50% - 55px); /* Высота для плотного прилегания */
}

#blackSidebar {
    background-color: #000000;
    color: white;
    top: calc(50% + 55px); /* Сдвиг вниз от середины */
    height: calc(50% - 55px); /* Высота для плотного прилегания */
}

.sidebar.show {
    left: 0; /* Появление */
    opacity: 1; /* Видимость */
}


.hidden {
    display: none;
}


.welcome-message {
    margin-top: 120px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
